.page {
  background-image: url("/assets/images/background-login.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100svh;
  padding: 0;
}

.page2 {
  background-image: url("/assets/images/bg-document-preparation.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100svh;
  padding: 0;
}
